html,
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background: white;
    color: black;
}

form {
    padding: 0px;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.datepicker {
    z-index: 2;
    position: relative;
    padding-right: 1.0em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 400px;
    margin: auto;
}

.button {
    background-color: rgb(217, 90, 70);
    /* Green */
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 0.9em;
}

input[type=text] {
    font-size: 0.9em;
    padding: 6px;
    width: 7.0em;
    border: 1px solid black;
    margin-right: 10px;

}